# https://dart.dev/tools/pub/automated-publishing#publishing-packages-using-github-actions
name: Release
on:
  push:
    branches:
      - ea/fix-publish-auth
#    tags:
#    # must align with the tag-pattern configured on pub.dev
#    - 'v[0-9]+.[0-9]+.[0-9]+*' # tag-pattern on pub.dev: 'v'
jobs:
  dart:
    name: Release (dart)
    permissions:
      id-token: write # This is required for requesting the JWT
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Setup Dart SDK with JWT token https://github.com/dart-lang/setup-dart/blob/77b84bec90e9a0d07f68a3cedd3651ba9e606a12/.github/workflows/publish.yml#L33
      - uses: dart-lang/setup-dart@a57a6c04cf7d4840e88432aad6281d1e125f0d46
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.7.6'
          channel: 'stable'
      - run: docker-compose -p xmtp -f "tool/local-node/docker-compose.yml" up -d
      - run: flutter pub get
      - run: flutter test --dart-define=TEST_SERVER_ENABLED=true
      - run: docker-compose -p xmtp -f "tool/local-node/docker-compose.yml" down
        if: always()
      - name: Set release version
        run: |
          TAG=`echo ${GITHUB_REF#refs/*/}`
          echo "GIT_TAG=${TAG#v}" >> $GITHUB_ENV
      - name: Update version in pubspec
        env:
          RELEASE_VERSION: ${{ env.GIT_TAG }}
        run: |
          sed -i "s/version: 0.0.0/version: $RELEASE_VERSION/" ./pubspec.yaml
      - name: Verify pubspec
        run: cat ./pubspec.yaml
      - run: dart pub publish --dry-run
